footer#footer {
  background-color: #EEE;
  height: $footer-height;
  line-height: $footer-height;
  font-size: 12px;
  text-align: center;

  .frame p {
    opacity: 0.5;
    text-shadow: 0 1px 0 #FFF;
  }
}